<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Searchbar with cancel button shown on focus -->
    <ion-searchbar 
      showCancelButton="focus" 
      animated placeholder="EAN"
      cancel-button-text="Annuler"
      (ionChange)="searchProduct($event)"
      (ionClear)="resetSearch()"
      >

    </ion-searchbar>

    <ion-card class="welcome-card" *ngIf="product" >
        <img
            [src]="product.image_url"  
            alt="✨🍕✨"
        /> 
        <!-- entre crochets pour une variable -->


        <ion-card-header>

            <ion-badge color="medium">{{ product.pnns_groups_1_tags[0] }}</ion-badge>
            
            <ion-card-subtitle>{{ product.brands }}</ion-card-subtitle>
            
            <ion-card-title>{{ product.product_name_fr }}</ion-card-title>
           
            <!-- TODO : ngIf badge apparait si pdt est vegan -->
            <ion-badge *ngIf="isVegan" color="success">Vegan</ion-badge>
        </ion-card-header>
        <ion-card-content>
            <h1>{{ Nutriscore }}Nutriscore</h1>
            <h2>Description du produit & Ingrédients</h2>
            <p>{{ product.ingredients_text_fr }}</p>
        </ion-card-content>
    </ion-card>
    <ion-progress-bar
            type="indeterminate"
            *ngIf="loading">
    </ion-progress-bar>
</ion-content>

<!-- 
          <ion-spinner name="crescent"></ion-spinner>

          <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list> -->
