.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
// .yourtoastclass {
//   .toast-wrapper {
//     background: blue;
//     opacity: 0.8;
//     border-radius: 5px;
//     text-align: center;
//   }
//   .toast-message {
//     font-size: 3.0rem;
//     color: white;
//   }
// }